# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/
.venv/
.env/

# VSCode settings
.vscode/

# .env files (sensitive information)
.env

# Dependency directories
__pycache__/
*.egg-info/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# FastAPI Pydantic
*.pydantic/

# Log files
*.log

# Cache files
.cache/

# Python packaging files
*.egg
*.whl

# Testing and coverage files
.coverage
nosetests.xml
coverage.xml
*.coveragerc

# IDE/Editor files
.idea/
.DS_Store